.skills {
  padding: 100px 70px;
  background-color: #272727;
}

.skills__title {
  margin: 90px 0 0 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.skills__text {
  margin: 26px auto 0;
  max-width: 460px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
}

.skills__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 100px;
}

.skills__item {
  min-width: 90px;
  padding: 21px 0 22px;
  background: #303030;
  border-radius: 10px;
  text-align: center;
}
