.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 396px;
  margin: 0 auto;
  padding: 70px 0;
}

.register__logo {
  text-decoration: none;
  opacity: 1;
  transition: all .5s linear;
  align-self: flex-start;
}

.register__logo:hover {
  opacity: .6;
}

.register__title {
  align-self: flex-start;
  margin: 40px 0 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.register__form {
  margin-top: 40px;
  width: 100%;
  box-sizing: border-box;
}

.register__label {
  margin: 0;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.register__input {
  background-color: #2F2F2F;
  border-radius: 8px;
  border: none;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 10px;
  transition: all .5s linear;
  outline: none;
}

.register__input:focus {
  outline: 1px solid #8B8B8B;
}

.register__input_error {
  color: #EE3465;

}

.register__input_error:focus {
  outline: 1px solid #EE3465;
}

.register__error {
  min-height: 12px;
  margin: 12px 0 0 0;
  font-size: 10px;
  line-height: 10px;
  color: #EE3465;
}

.register__button {
  background-color: #4285F4;
  width: 100%;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: none;
  padding: 13px 0 15px;
  margin-top: 69px;
  cursor: pointer;
  opacity: 1;
  transition: all .5s linear;
}

.register__button_disabled {
  opacity: .6;
  cursor: initial;
}

.register__button:hover {
  opacity: .6;
}

.register__link {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 16px auto 0;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #8B8B8B;
  opacity: 1;
  transition: all .5s linear;
}

.register__link:hover {
  opacity: .6;
}

.register__text {
  color: #4285F4;
}

@media (max-width:760px) {
  .register {
    padding: 56px 30px 30px;
  }

  .register__logo {
    align-self: center
  }

  .register__title {
    align-self: center;
  }

  .register__button {
    margin-top: 157px;
    font-size: 12px;
    line-height: 15px;
  }

  .register__link {
    margin-top: 14px;
    font-size: 12px;
    line-height: 15px;
  }
}
